.main{
    background-color: #fff;
    padding: 30px;
    margin: 100px auto;
    max-width: 50%;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(200, 199, 199, 0.5);
}

.main h1 {
    font-size: 28px;
    text-align: center;
    color: rgb(33, 33, 92);
}